.card-container {
  display: flex;
    flex-flow: column wrap;
  width: 100%;

  @media (min-width: $break-one) {
    margin-top: 60px;

    width: 32%;
  }
}

%display-card {
  width: 100%;

  @include box-shadow(1px, 1px, 8px, #4a4a4a);
}

.display-card--whats-my-name {
  @extend %display-card;
}

.display-card--in-the-morning-2 {
  @extend %display-card;
}

.display-card--zero-to-one-hundred {
  @extend %display-card;
}

.display-card--best-i-ever-had {
  @extend %display-card;
}

.display-card--hotline-bling {
  @extend %display-card;
}

.display-card--in-the-morning {
  @extend %display-card;
}

// .social-share-container {
//   margin-top: 30px;
// }
