@include keyframes(wiggle) {
  0% {
    transform: rotateZ(0);
    transform: scale(1.01);
  }

  25% {
    transform: rotateZ(10deg);
  }

  75% {
    transform: rotateZ(-10deg);
  }

  100% {
    transform: rotateZ(0);
    transform: scale(1.05);
  }
}

.site-container {
  background-image: radial-gradient(circle at 40% 30% , #F73A49 0%, #F73A49 5%, $deep-red 95%);
  display: flex;
    flex-flow: column wrap;
  padding: 30px 20px;

  @media (min-width: $break-one) {
    padding: 60px 50px;
  }
}

.welcome-header {
  font-family: 'Pacifico', cursive;
  font-size: 12vw;
  line-height: 14vw;
  padding: 0 0 20px;
  text-shadow: 0 0 15px rgba(0, 2, 0, .4);
  text-align: center;
  width: 100%;

  @media (min-width: $break-one) {
    font-size: 8vw;
    line-height: 8vw;
  }
}

.card-display-container {
  display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.cta {
  font-size: 1.8rem;
  line-height: 2.4rem;
  margin: 0 auto;
  text-align: center;
  width: 90%;

  @media (min-width: $break-one) {
    width: 70%;
  }
}

.shouts {
  font-family: 'Pacifico', cursive;
  padding: 100px 0 0;
  text-align: center;
  width: 100%;

  a {
    color: $base-white;
  }
}

.site-share-container {
  padding: 20px 0 0;
  text-align: center;
  width: 100%;
}

.twitter-share-button {
  margin-left: 15px;
  vertical-align: bottom;
}