.site-container {
  display: flex;
    flex-flow: column wrap;
  padding: 100px 50px;
}

.welcome-header {
  font-size: 8vw;
  text-shadow: 0 0 15px rgba(0, 2, 0, .4);
  text-align: center;
}

.vip-input-container {
  align-self: flex-end;
  padding: 100px 0;
  text-align: center;
  width: 100%;
}

#vip-collection-input {
  background: none;
  border: none;
  border-bottom: 1px solid $base-white;
  color: $base-white;
  font-size: 1.8em;
  outline: none;
  padding: 10px 15px;
    width: 30%;

  @include placeholder {
    color: $base-white;
    text-align: center;
  }
}

#vip-submit-button {
  background: none;
  border: 3px solid $base-white;
  color: $base-white;
  font-size: 1.8em;
  margin: 0 0 0 20px;
  padding: 10px 15px;
  transition: all .4s;

  &:hover {
    background: $base-white;
    color: $deep-red;
  }

}