@mixin box-sizing($type) {
  -webkit-box-sizing: $type; // Safari <= 5
     -moz-box-sizing: $type; // Firefox <= 19
          box-sizing: $type;
}

@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}  
}