//! COLORS _______________________________
//! ______________________________________
$base-white: #ffffff;
$base-red: #F82C58;
$deep-red: #E92452;
$dark-grey: #303030;

$facebook-blue: #3b5998;
$instagram-blue: #3F729B;
$twitter-blue: #55acee;


//! MEDIA QUERIES ________________________
//! ______________________________________
$break-one: 786px;
$break-two: 1280px;