//! COLORS _______________________________
//! ______________________________________
$base-white: #ffffff;
$base-red: #F82C58;
$deep-red: #E92452;


//! MEDIA QUERIES ________________________
//! ______________________________________