//! COLORS _______________________________
//! ______________________________________
$base-white: #ffffff;
$base-red: #F82C58;
$deep-red: #E92452;
$dark-grey: #303030;


//! MEDIA QUERIES ________________________
//! ______________________________________
$break-one: 786px;
$break-two: 1280px;