/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 62.5%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  background: #E92452;
  color: #ffffff;
  font-family: 'Allura', cursive;
  font-weight: 300;
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@-webkit-keyframes wiggle {
  0% {
    transform: rotateZ(0);
    transform: scale(1.01); }
  25% {
    transform: rotateZ(10deg); }
  75% {
    transform: rotateZ(-10deg); }
  100% {
    transform: rotateZ(0);
    transform: scale(1.05); } }
@-moz-keyframes wiggle {
  0% {
    transform: rotateZ(0);
    transform: scale(1.01); }
  25% {
    transform: rotateZ(10deg); }
  75% {
    transform: rotateZ(-10deg); }
  100% {
    transform: rotateZ(0);
    transform: scale(1.05); } }
@-o-keyframes wiggle {
  0% {
    transform: rotateZ(0);
    transform: scale(1.01); }
  25% {
    transform: rotateZ(10deg); }
  75% {
    transform: rotateZ(-10deg); }
  100% {
    transform: rotateZ(0);
    transform: scale(1.05); } }
@keyframes wiggle {
  0% {
    transform: rotateZ(0);
    transform: scale(1.01); }
  25% {
    transform: rotateZ(10deg); }
  75% {
    transform: rotateZ(-10deg); }
  100% {
    transform: rotateZ(0);
    transform: scale(1.05); } }
.site-container {
  background-image: radial-gradient(circle at 40% 30%, #F73A49 0%, #F73A49 5%, #E92452 95%);
  display: flex;
  flex-flow: column wrap;
  padding: 30px 20px; }
  @media (min-width: 786px) {
    .site-container {
      padding: 60px 50px; } }

.welcome-header {
  font-family: 'Pacifico', cursive;
  font-size: 12vw;
  line-height: 14vw;
  padding: 0 0 20px;
  text-shadow: 0 0 15px rgba(0, 2, 0, 0.4);
  text-align: center;
  width: 100%; }
  @media (min-width: 786px) {
    .welcome-header {
      font-size: 8vw;
      line-height: 8vw; } }

.card-display-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between; }

.cta {
  font-size: 1.8rem;
  line-height: 2.4rem;
  margin: 0 auto;
  text-align: center;
  width: 90%; }
  @media (min-width: 786px) {
    .cta {
      width: 70%; } }

.shouts {
  font-family: 'Pacifico', cursive;
  padding: 100px 0 0;
  text-align: center;
  width: 100%; }
  .shouts a {
    color: #ffffff; }

.display-container {
  display: flex;
  flex-flow: column wrap;
  margin-top: 60px;
  width: 100%; }
  @media (min-width: 786px) {
    .display-container {
      width: 32%; } }

.card-container {
  display: flex;
  flex-flow: column wrap;
  -webkit-box-shadow: 1px 1px 20px rgba(48, 48, 48, 0.8);
  -moz-box-shadow: 1px 1px 20px rgba(48, 48, 48, 0.8);
  box-shadow: 1px 1px 20px rgba(48, 48, 48, 0.8); }

img {
  width: 100%; }

.social-share-container {
  display: flex;
  flex-flow: row wrap; }

.share-button--facebook, .share-button--instagram, .share-button--twitter {
  color: transparent;
  cursor: pointer;
  font-size: 1.2rem;
  padding: 15px 0;
  text-align: center;
  transition: all .4s;
  width: 33.3%; }

.share-button--facebook {
  background: #3b5998 url(../img/facebook-icon.png) center/35px no-repeat; }
  .share-button--facebook:hover {
    background-color: #2d4373; }

.share-button--instagram {
  background: #3F729B url(../img/instagram-icon.png) center/35px no-repeat; }
  .share-button--instagram:hover {
    background-color: #305777; }

.share-button--twitter {
  background: #55acee url(../img/twitter-icon.png) center/35px no-repeat; }
  .share-button--twitter:hover {
    background-color: #2795e9; }
